# Ignore node_modules folders
node_modules/
client/node_modules/
server/node_modules/

# Ignore environment files
.env

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore build output
/dist
/build
